.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form input {
  padding: 8px 15px;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}